/* Enter your custom styles here */
.tailTheme{
    padding-left: 70%;
}
.boxContainer {
    border-radius: 10px; /* Rounded corners */
    padding-left: 2rem; /* Inner spacing */
    padding-right: 2rem; 
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    background-color: rgba(249, 249, 249, 0.3); /* Semi-transparent background color for glass effect */
    backdrop-filter: blur(10px); /* Glass effect with blur */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
  
  }

@media only screen and (max-width: 600px) {
  /* Move the form to the top and the image to the bottom on mobile screens */
  .mobileFlexBox {
      flex-direction: column-reverse;
      align-items: center;
  }

  .mobileImage {
      margin-top: 20px;
  }
}
